@model ClassroomModel;

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="\lib\images\nscc-logo.jpg" alt="nscc-logo" width="200px" class="d-inline-block ms-3">
    </a>
    @* <div>
    <span id="lblExpire" class="text-warning" style="margin-left:10px">WARNING: You're session is about
    to expire</span>
    </div> *@
    <div class="d-flex flex-row">
      <form method="post">
        <button type="submit" class="btn btn-warning me-3" asp-controller="Admin" asp-action="Index">
          Dashboard
        </button>
      </form>

      <form method="post">
        <button type="submit" class="btn btn-warning me-3" asp-controller="Admin" asp-action="Logout">
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="p-5 text-white">
  <h1>Edit Classroom.</h1>
  <div style="margin-bottom:10px" class="fs-5">Edit the Classroom below:</div>

  <form method="post">
    <div class="mb-4">
      <label class="pb-2">Classroom Number:</label>
      <input type="text" asp-for="@Model.RoomNumber" class="form-control" maxlength="3" />
      <span asp-validation-for="@Model.RoomNumber" class="text-danger" />
    </div>

    <div class="mb-4">
      <label class="pb-2">Building Acronym:</label>
      <input type="text" asp-for="@Model.BuildingAcronym" class="form-control" maxlength="3" />
      <span asp-validation-for="@Model.BuildingAcronym" class="text-danger" />
    </div>

    <div class="mb-4">
      <label class="control-label mb-2">Technology</label>
      @foreach (var tech in ViewBag.Technologies as List<TechnologyModel>)
      {
        <div class="form-check">
          <input class="form-check-input" type="checkbox" name="SelectedTechnologyIds" value="@tech.Id"
          @(Model.SelectedTechnologyIds.Contains(tech.Id) ? "checked" : "")>
          <label class="form-check-label">@tech.Description</label>
        </div>
      }
    </div>

    <div class="mb-4">
      <input type="hidden" asp-for="@Model.Id" />
      <input type="submit" asp-controller="Classroom" asp-action="UpdateSubmit" class="btn btn-warning"
        asp-route-id="@Model.Id" value="Update" />
      <a href="/Classroom/Index" class="btn btn-warning">Cancel</a>
    </div>
  </form>
</div>