@model IndexViewModel

<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="\lib\images\nscc-logo.jpg" alt="nscc-logo" width="200px" class="d-inline-block ms-3">
    </a>
    @* <div>
    <span id="lblExpire" class="text-warning" style="margin-left:10px">WARNING: You're session is about
    to expire</span>
    </div> *@
    <div class="d-flex flex-row">
      <form method="post">
        <button type="submit" class="btn btn-warning me-3" asp-controller="Admin" asp-action="Index">
          Dashboard
        </button>
      </form>

      <form method="post">
        <button type="submit" class="btn btn-warning me-3" asp-controller="Admin" asp-action="Logout">
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="col text-white me-4">
  <div class="flex ms-4">
    <span class="fs-2">Programs for Information Technology</span>

    <div class="border-top pt-2 mt-2">
      <div class="my-3">
        <a asp-controller="Programs" asp-action="AddProgram" class="bg-warning p-2 rounded text-black me-3"
          style="text-decoration:none">
          <i class="fa fa-plus me-1 text-black"></i>Add Program
        </a>
      </div>

      @if (@Model.Programs.Count > 0)
      {
        <div>
          @foreach (var program in Model.Programs)
          {
            <form method="post">
              <div class="flex">
                <button type="submit" class="btn p-1" asp-controller="Programs" asp-action="Delete"
                  asp-route-id="@program.Id">
                  <i class="fa fa-trash bg-warning p-2 rounded"></i>
                </button>
                <button type="submit" class="btn p-1" asp-controller="Programs" asp-action="Update"
                  asp-route-id="@program.Id">
                  <i class="fa fa-pencil bg-warning p-2 rounded"></i>
                </button>

                <button type="submit" class="btn p-1" asp-controller="Program" asp-action="ProgramDetails"
                  asp-route-id="@program.Id">
                  <i class="fa fa-info bg-light p-2 rounded"></i>
                </button>


                <span class="ms-4 text-white">@program.Name, year @program.Year</span>
              </div>
            </form>
          }
        </div>
      }
      else
      {
        <div class="ms-4">
          <span>No programs found</span>
        </div>
      }
    </div>

    @section scripts {
      <script src="~/js/app.js"></script>
    }